<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="web" connectionString="server=.;uid=sa;pwd=123456;database=CES4.0;Connect Timeout=60;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--客商同步时间-->
    <add key="synctime1" value="10"/>
    <!--组织架构同步时间-->
    <add key="synctime2" value="10"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="LogTraceListener" type="BM_Scheduler.Models.LogTraceListener,BM_Scheduler" initializeData="log\NClogs"/>
      </listeners>
    </trace>
  </system.diagnostics>
 
</configuration>
